body {
	background: #163d4c;
}

.p1 {
  text-indent: 10px;
	font-size: 20px;
  background-color: white;
  width: 95px;
}
.p2 {
  margin-top: -43px;
  text-indent: 100px;
  font-size: 20px;
  color: white;
}

.button1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategray; /* Green */
  color: #66CCFF;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  right: 150px;
  margin-top: -40px;
  text-decoration: none;
  font-weight: bolder;
}
.button1:hover {
  background-color: #bcddfe;
  color: black;
}

.button2:hover {
  background-color: #bcddfe;
  color: black;
}
.button3:hover {
  background-color: darkslategray;
  color: #66CCFF;
}

.button2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategray; /* Green */
  color: #66CCFF;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  right: 90px;
  margin-top: -40px;
  text-decoration: none;
   font-weight: bolder;

}

.button3 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bcddfe; /* Green */
  color: black;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
    position: absolute;
  right: 20px;
  margin-top: -40px;
  text-decoration: none;
   font-weight: bolder;
}

.header {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 60px;
  margin-bottom: 45px;
  background-image: linear-gradient(to right,cyan, cyan, cyan, palegreen, lightgreen,lightgreen,#ffa785, cyan,lightblue,cyan,lightblue, cyan,cyan);
   color: transparent;
    background-clip: text;
  -webkit-background-clip: text;
  
}

.about {
  margin-left: 100px;
  line-height: 1.2;
  margin-bottom: 100%;
}

.p3{
  font-size: 20px;
  color: white;

}
.p4{

  font-size: 20px;
  color: white;

}
.p5{

  font-size: 20px;
  color: white;

}
.p6{

  font-size: 20px;
  color: white;

}


.fa {
    padding: 12px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook:hover {
    opacity: 0.7;
    color: white;
    background: #3B5998;
}
.fa-facebook {
  background: #bcddfe;
  color: #0d252f;
  display: inline-grid;
  margin-bottom: -10px;
}
.fa-instagram:hover {
    opacity: 0.7;
    color: white;
    background: #125688;
}
.fa-instagram {
  background: #bcddfe;
  color: #0d252f;
  display: inline-grid;
  margin-bottom: -10px;
}
.fa-twitter:hover {
  opacity: 0.7;
    color: white;
    background: #55AACE;
}
.fa-twitter {
    background: #bcddfe;
    color: #0d252f;
    display: inline-grid;
    margin-bottom: -10px;
}

.end {
  text-align: center;
  color: white ;
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d252f;
}
@media(max-width: 1200px){
  nav .p1{
    display: none;
  }
  nav .p2{
    display: none;
  }
	
  .about {
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
  }
	.header {
	margin-left: 8%;
    margin-right: 8%;
    margin-top: 120px;
	font-size: 30px;
  }
		
.p3 { 
font-size: 15px;
}
.p4 {
font-size: 15px;	
}
.p5 {
font-size: 15px;
}
.p6 {
font-size: 15px;
}
.end {
font-size: 11px;	
}
.fa {
padding:8px;
width: 12px;
}
nav .button1 {
    font-size: 100%;
    margin-top: -100px;
  }
  nav .button2 {
    font-size: 100%;
    margin-top: -100px;
  }
  nav .button3 {
    font-size: 100%;
    margin-top: -100px;
	
}

}
