body {
	background: #163d4c;
}
#particles-js {
  height: 80vh;
  width: 200vh;
  position: absolute;
}
.p1 {
  text-indent: 10px;
	font-size: 20px;
  background-color: white;
  width: 95px;
}
.p2 {
  margin-top: -43px;
  text-indent: 100px;
  font-size: 20px;
  color: white;
}
.button {
  font-family: Arial, Helvetica, sans-serif;
background-color: darkslategray; /* Green */
  color: #66CCFF;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  right: 220px;
  margin-top: -40px;
  text-decoration: none;
  font-weight: bolder;
}
.button:hover {
  background-color: lightblue;
  color: black;
}

.button1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategray; /* Green */
  color: #66CCFF;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  right: 150px;
  margin-top: -40px;
  text-decoration: none;
  font-weight: bolder;
}
.button1:hover {
  background-color: #bcddfe;
  color: black;
}

.button2:hover {
  background-color: #bcddfe;
  color: black;
}
.button3:hover {
  background-color: darkslategray;
  color: #66CCFF;
}

.button2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategray; /* Green */
  color: #66CCFF;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  right: 90px;
  margin-top: -40px;
  text-decoration: none;
   font-weight: bolder;

}

.button3 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bcddfe; /* Green */
  color: black;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
    position: absolute;
  right: 20px;
  margin-top: -40px;
  text-decoration: none;
   font-weight: bolder;
}

.header {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 45px;
  background-image: linear-gradient(to right,cyan, cyan, cyan, palegreen, lightgreen,lightgreen,#ffa785, cyan,lightblue,cyan,lightblue, cyan,cyan);
   color: transparent;
    background-clip: text;
  -webkit-background-clip: text;
  
}

.about {
  margin-left: 100px;
}

.p3{
  font-size: 20px;
  color: white;

}
.p4{

  font-size: 20px;
  color: white;

}
.p5{

  font-size: 20px;
  color: white;

}
.p6{

  font-size: 20px;
  color: white;

}


.fa {
    padding: 12px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook:hover {
    opacity: 0.7;
    color: white;
    background: #3B5998;
}
.fa-facebook {
  background: #bcddfe;
  color: #0d252f;
  display: inline-grid;
  margin-bottom: -10px;
}
.fa-instagram:hover {
    opacity: 0.7;
    color: white;
    background: #125688;
}
.fa-instagram {
  background: #bcddfe;
  color: #0d252f;
  display: inline-grid;
  margin-bottom: -10px;
}
.fa-twitter:hover {
  opacity: 0.7;
    color: white;
    background: #55AACE;
}
.fa-twitter {
    background: #bcddfe;
    color: #0d252f;
    display: inline-grid;
    margin-bottom: -10px;
}

.end {
  text-align: center;
  color: white ;
  font-size: 16px;
  position: absolute;
  left: 0;
bottom: auto;
  width: 100%;
  background-color: #0d252f;
}

ul {
  visibility: hidden;
}
ul li {
  top: -40px;
  position: relative;
  text-indent: 12px;
  font-size: 18px;
  list-style-type: none;
  display: inline-block;
}
ul li .b1 {
  color: white;
  text-decoration: none;
}

ul li .b2 {
  color: white;
  text-decoration: none;
}

ul li .b3 {
  color: white;
}











@media(max-width: 1200px){
  nav {
    display: none;
  }	
  .about {
line-height: 1.2;
    margin-left: 8%;
    margin-right: 8%;
margin-bottom: 40%;
  }
#particles-js {
  height: 350vh;
  
}
	.header {
	margin-left: 8%;
    margin-right: 8%;
    margin-top: -30px;
	font-size: 30px;
  }
		
.p3 { 
font-size: 15px;
}
.p4 {
font-size: 15px;	
}
.p5 {
font-size: 15px;
}
.p6 {
font-size: 15px;
}
.end {
font-size: 11px;
bottom: auto;
position: absolute;	
}
.fa {
padding:8px;
width: 12px;
}

.menu {
position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
}

.bar1, .bar2, .bar3 {
  width: 32px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .b1 {
  visibility: visible;
}
.change .b2 {
  visibility: visible;
}
.change .b3 {
  visibility: visible;
}



.change .button1 {
  display: block;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
@media(max-width: 800px){

#particles-js {
  height: 260vh;
width: 80%;
  
}
}
@media(max-width: 800px){

#particles-js {
width: 80%;
  
}
}

}
@media(max-width: 500px){

#particles-js {
  height: 110vh;
  
}
}
